/* You can add global styles to this file, and also import other style files */



@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Montserrat+Alternates:wght@300&display=swap');


:root {
    --main-color: #a8cbf5;
    --second-color: #1a61b7; 
}

body{
    font-family: 'Cairo', sans-serif;
}

