
<div class="container ">


    <app-nav></app-nav>

    <router-outlet></router-outlet>

    <footer class=" text-center ">
        <div class="cntnt p-3">
            <div>
                <a href="https://www.facebook.com/profile.php?id=100009248987931" ><i class="fab mx-2 fa-facebook"></i></a>
                <a ><i class="fab mx-2 fa-instagram"></i></a>
                <a ><i class="fab mx-2 fa-youtube"></i></a>
                <a ><i class="fab mx-2 fa-twitter"></i></a>
                <a ><i class="fab mx-2 fa-whatsapp"></i></a>
                <a href="https://www.linkedin.com/in/ahmed-eid-18032217a" ><i class="fab mx-2 fa-linkedin"></i></a>
            </div>
        
            <div class="pt-2 cprit">
                 <i class="far fa-copy"></i>
                 <span class="mx-2 fw-bold">Designed By : </span>
                 <span><a href="https://www.linkedin.com/in/ahmed-eid-18032217a" class="mx-2">Ahmed Eid</a></span>
                 <i class="far fa-copyright"></i>
            </div>
        </div>
    
    </footer>

</div>

