

<div class="col-lg-10 mx-auto mt-5">

    <div class="mt-5">
    
        <div class="title my-2 position-relative d-flex justify-content-center align-items-center">
            <h2 class=" my-0 h1">Hello Again!</h2>
            <h3 class=" my-0 position-absolute fw-bold h1">Hello Again!</h3>
        </div>
        <p class="text-center mb-2 h4">Welcome Back</p>


        <!-- alert  -->
        <div *ngIf="error" class="alert alert-danger w-75 mx-auto mt-5">
            <p class="h4 m-0 p-0 fw-bold">{{error}}</p>
        </div>
        <!-- alert end ^ -->
        
        <!-- form elements  -->
        <form (ngSubmit)="submitLogin(loginForm)" [formGroup]="loginForm" class="mt-5 text-center w-75 mx-auto">
            <input formControlName="email" type="text" class="form-control mt-3" placeholder="  Enter email">
            <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger text-start py-2 fw-bold mt-2 mb-2">
                <p *ngIf="loginForm.get('email')?.errors?.['required']" class="mb-0 ">Email Is Required</p>
                <p *ngIf="loginForm.get('email')?.errors?.['email']" class="mb-0 ">Email Is Not Valid</p>
            </div>
                        
            <input formControlName="password" type="password" class="form-control mt-3" placeholder="  password">
            <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert alert-danger text-start py-2 fw-bold mt-2 mb-2">
                <p *ngIf="loginForm.get('password')?.errors?.['required']" class="mb-0 ">Password Is Required</p>
                <p *ngIf="loginForm.get('password')?.errors?.['pattern']" class="mb-0 ">Minimum 6 characters, at least 1 an uppercase, a lowercase letter, a number and special characters</p>
            </div>

            <p class="text-muted text-center mx-auto mt-2">by signing up you agree to our 
                <a routerLink="/login">terms & conditions</a>
                of use and
                <a routerLink="/login">privacy policy</a>
            </p>

            <button [disabled]="loginForm.invalid"  class="py-3 h5">LOGIN</button>
        </form>
        <!-- form elements end ^ -->

        <p class="or mx-auto my-3 mt-4">Or Continue With</p>
    
        <!-- social media buttons  -->
        <div class="social-btns text-center" >
          <div class="gogl"><a href="https://www.google.com.eg/"><i class="fa-brands fa-google icon"></i> Google</a></div>
          <div class="fcbok"><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook icon"></i> Facebook</a></div>
        </div>
        <!-- social media buttons end ^ -->


        <p class="text-muted text-center mt-3 end">Not a member? <a routerLink="/register"> Register Now</a></p>
    
    </div>

</div>
